.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.App-container{
  min-height: 60vh;
  width: 65%;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-container{
  padding: 1.5rem 0;
  font-size: 1.6rem;
}

.input-text{
  width: 200px;
  border-radius: 0.3rem;
  padding: 0.5rem 0.4rem 0.4rem 2rem;
}

.second-section{
  margin-top: 4rem;
}

.cities-container{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 2rem;
  overflow-y: scroll;
  max-height: 350px;
  margin-bottom: 2rem;
}

::-webkit-scrollbar {
  display: none;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 150px;
}

.city-container{
  position: relative;
  width: 90%;
  min-width: 220px;
  max-width: 350px;
}

@media (max-width: 1700px) {
  .cities-container{
    grid-template-columns: repeat(2, 350px);
    margin-bottom: 4rem;
  }
}

@media (max-width: 1250px) {
  .cities-container{
    grid-template-columns: 350px;
    margin-bottom: 4rem;
  }
}

@media (max-width: 720px) {
  .App-container{
    width: 85%;
  }
  .cities-container{
    grid-template-columns: minmax(220px, 320px);
    margin-bottom: 4rem;
    padding: 0 2rem;
  }
  
}