html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8EC5FC;
background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 100%);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.4rem;
  font-weight: 500;
}

@media (max-width: 720px) {
  span {
    font-size: 1.1rem;
  }
}